<div ng-controller="customersController">


	<div class="alert alert-danger" ng-if="error" role="alert">
	<strong>Sorry!</strong> The username has already been taken.</div>

	<form class="form-inline">
		<fieldset> 
			<legend>Add a New Customer </legend>
			<div class="form-group">
				<label for="customerName">Customer Name: </label>
				<input type="text" class="form-control" id="customerName" ng-model="newCustomer.name">
			</div>
			<input class="btn btn-primary" type="submit" value="Add" ng-click="addCustomer()"> 
		</fieldset>
		
		
	</form>
	<div class="lower_content">
		<form class="form-horizontal col-sm-3 col-sm-offset-9">
			<div class="form-group">
				<input class="form-control" type="text" ng-model="filter_name" placeholder="search...">
			</div>
		</form>
		<table class="table table-bordered">
			<tr>
				<th>Customer Name</th>
				<th>Created Date</th>
				<th>Actions</th>
			</tr>
			<tr ng-repeat="customer in customers | filter:filter_name" >
				<td>{{customer.name}}</td>
				<td>{{customer.created_at | date:'MMM d, yyyy'}}</td>
			
				<td><button type="button" class="btn btn-danger" ng-click="removeCustomer(customers.indexOf(customer))">Remove</button></td>
			</tr>
		</table>



	</div>
	
	
</div>