<div ng-controller="ordersController">
	<h4>Add a new order</h4>
	<form class="top_form">





		<label>Customer: </label>
		<select ng-model="newOrder.customer" ng-options="customer.name for customer in customers">
			<option value="">-- choose customer--</option>
		</select><br>


		<label>Product:</label>
		<select ng-model="newOrder.product" ng-options="product.name for product in products" >
			<option value="">---choose products--</option>
		</select><br>

		<label ng-if="selected" >Order:</label>

		<select ng-model="newOrder.qty" ng-if="selected" ng-options="qty for qty in qty">
			<option value="">----Choose qty----</option>
		</select><br>
		<input class="blue" type="submit" value="Order" ng-click="createOrder()"> 
	</form>
	<div class="lower_content">
		<input type="text" ng-model="filter_name" placeholder="search..." class="filter"><br>
		<table>
			<tr>
				<th>Customer Name</th>
				<th>Product</th>
				<th>Quantity</th>
				<th>Date</th>
			</tr>
			<tr ng-repeat="order in orders">
				<td>{{order._customer.name}}</td>
				<td>{{order.product.name}}</td>
				<td>{{order.qty}}</td>
				<td>{{order.created_at | date:'MMM dd, yyyy'}}</td>
			</tr>
		</table>
		




	</div>
	
	
	
</div>