<div ng-controller="productsController" >


	<div class="col-sm-3">
			<form class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-8">
					<input class="form-control" type="text" placeholder="search..." ng-model="new_filter">

				</div>
				
			</div>
			<div class="form-group">
				<div class="col-sm-4">
					<input class="form-control btn btn-default" type="submit" value="Filter" ng-click="filter()">
				</div>
			</div>
		</form>

		<form class="form">
			<fieldset>
				<legend>Add a New Product</legend>
				<div class="form-group">
					<label for="name" class="control-label">Name:</label>
					<div class="col-sm-10">
						<input id="name" class="form-control" type="text" placeholder="name..." ng-model="newProduct.name">
					</div>
				</div>
				<div class="form-group">
					<label for="image">Image(url):</label>
					<div class="col-sm-10">
						<input id="image" class="form-control" type="text" value="http://" ng-model="newProduct.imageUrl">
					</div>
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<div class="col-sm-10">
						<textarea class="form-control" id="description" rows="8" ng-model="newProduct.description"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="quantity">Inital Quantity: </label>
					<div class="col-sm-10">
						<select class="form-control" ng-model="newProduct.qty"><option  ng-repeat="x in range(100)">{{x}}</option></select>
					</div>
				</div>
				<div class="col-sm-6 col-sm-offset-4">
					<input style="margin-top:20px;" class="btn btn-primary form-control" type="submit" value="Create" ng-click="addProduct()">
				</div>
				

			</fieldset>
		</form>
			
		</form>
		
	</div>
	<div class="col-sm-9">
		<div class="col-sm-4" ng-repeat="product in products | filter: filter_name">
			<div class="thumbnail">
				<img ng-src="{{product.imageUrl}}" style="width:300px; height:200px;">

				<div class="caption">
					<p>{{product.name}}</p>
					<p>({{product.qty}} left)</p>
				</div>
			</div>
		</div>
		<div class="col-md-offset-5">
			<a href="" ng-if="!reachLimit" ng-click="showMore()">Show More...</a>
		</div>
	</div>
</div>